
<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  {% assign author = site.data.author.nguyen_pham %}
  <!-- <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div> -->
  <div class="sidebar-item">
    <img src="{{ author.avatar }}" class="author-avatar" alt="{{ author.name }}" itemprop="image">
    <p style="text-align: center">{{ author.name }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign pages_list = site.pages | sort:"url" %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}

    {% assign navigation = site.data.navigation %}
    {% for nav in navigation %}
        {% if nav.url %}
          {% comment %} internal/external URL check {% endcomment %}
          {% if nav.url contains "://" %}
            {% assign nav_url = nav.url %}
          {% else %}
            {% assign nav_url = nav.url | relative_url %}
          {% endif %}

          <a class="sidebar-nav-item {% if page.url == nav_url %} active{% endif %}"
             href="{{ nav_url }}">
             {{ nav.title }}
          </a>
        {% else %}
          <span class="nav__sub-title">{{ nav.title }}</span>
        {% endif %}
    {% endfor %}

    <a class="sidebar-nav-item" href="{{ site.repository }}">Source on GitHub</a>
    <span class="sidebar-nav-item">
      {% for social in author.links %}
        <a href="{{ social.url }}" class="{{ social.icon}}"></a>
      {% endfor %}
    </span>
  </nav>

  <div class="sidebar-item">
    <span>
      Based on <a href="http://getpoole.com/"">Poole</a> by Mark Otto.
    </span>
    <p>
      &copy; {{ site.time | date: '%Y' }} {{ author.name }}
    </p>
  </div>
</div>
